{% extends 'appOne/base.html' %}



{% block body %}
<br>
<div class="container"><h1>About XYZ Hotels</h1></div>

<hr>
    <div class="container" align="justify">
	<span >
		Guaranteed success at your Business Meetings/Trainings. From small meetings to larger conferences, <strong>XYZ Hotel</strong> provides everything to make your meetings a big success. All the equipment and materials you need for your meetings or conferences is adequately provided. We can even help you plan your meetings anywhere across the country as we have branches in all 36 states of the federation.

	</span>
	<br>
	<br>
<p><strong>XYZ Hotel</strong> are synonymous for providing the right blend of service, luxury and quiet efficiency. </p>

	<br>
	<br>
<span>
	A distinctive feature of the group suites are the highly motivated and well-trained staff that provides the kind of attentive and sensitive service that is rare today.

</span>
<br>
<br>

<span>
	Our catering staff can make any event an experience to remember. Menus range from low-country barbeque on the lawn to luxurious five-course meals. Our meeting planners will customize meeting packages to suit your needs.

We are one of Country's most environmentally friendly hotels.

</span>
<br>
<br>

<div>
	AUDIOVISUAL EQUIPMENT

Whether you are planning a workshop, a management seminar, marketing or training session, we can customize our facilities to meet your individual needs and ensure a memorable event. We are also glad to help organize special theme evenings and group activities.

Meeting rooms at <strong>XYZ Hotel</strong> Suites are fully equipped with state-of-the-art communications systems and presentation installations to ensure the smooth running of your business

</div>
<br>
<br>

<div>
	MEETING ROOMS FACILITIES


	2 multifunctional conference room that seats up to 200 people.
	2 boardroom that seats up to 25 people.
	meeting rooms that seats up to 40 people
	24 hour Multi-lingual Front Office Reception & Concierge Services
	24 hour Security Services
	24 hour Foreign Currency Exchange Service
	 Boardroom and Meeting Room facilities
	Massage, Steam bath, Sauna and Gymnasium
	Baby cots and baby sitting facilities available upon request
	24 hour Business Centre with Secretarial Services
	Doctor-on-Call
	Chef-on-Call for Private Dining Functions
	“Meeting and Assist” Service
	Car Transfers and Rentals
	Shoe Shine Machines
	Shuttle to several Shopping Centres and Cinemas
	Wireless Internet Connection in the Lobby
	Gift Shops
	Travel Desk
	Non-smoking Floors 
</div>
<br>
<br>

<p>
We have been in the hospitality business for over 4 decades and we are best suited in catering for your needs. </p>

<br>
<br>	
</div>
{% endblock body %}






